In [2]:
import pandas as pd

In [60]:
data = pd.read_json('./putuo.json')
price_gap = 0.1

In [61]:
data_clean = data[['标题', '总价', '每平方售价', '产权年限', '建造时间', '小区名称', '梯户比例']].rename(index=str, columns={'标题': 'title', '总价': 'total_price', '每平方售价': 'price', '产权年限' : 'period', '建造时间': 'time', '小区名称': 'community', '梯户比例': 'neighbours'})

In [62]:
data_clean.total_price = data_clean.total_price.map(lambda x: x.strip('万')).astype(float)
data_clean.price = data_clean.price.map(lambda x: x.strip('元/平米')).astype(float)

In [63]:
data_clean.head()

,title,total_price,price,period,time,community,neighbours
0,汪家井西区，精装一室一厅，满五唯一，90年房龄,212.0,46522.0,未知,1990年建/板楼,汪家井小区,一梯六户
1,近中环 中间楼层 满五唯一 价格可谈 诚意出售,238.0,41998.0,未知,1995年建/板楼,真光九街坊,一梯四户
2,汪家井小区 2室1厅 225万,225.0,44205.0,未知,1987年建/板楼,汪家井小区,一梯四户
3,全明户型，朝南带阳台，厨卫朝北，楼层好，采光充足,280.0,69722.0,未知,1987年建/板楼,东新支路55弄,一梯九户
4,满五唯一，精装修，一梯三户 边套全明 价格可谈,230.0,56791.0,未知,1980年建/板楼,宜川一村,一梯三户

In [64]:
print('总的房源数目: {}'.format(len(data_clean)))

总的房源数目: 661

In [65]:
community_price_avg = data_clean.groupby('community', as_index=False).price.agg('mean').rename(columns={'price': 'community_avg_price'})
community_price_avg.head()

  community  community_avg_price
0  万航渡后路87号              74735.0
1     上钞桂花苑              60204.0
2      世纪之门              79575.5
3   东新支路55弄              65802.2
4     东泉苑小区              52105.0

In [71]:
print('总的小区数目: {}'.format(len(community_price_avg)))

总的小区数目: 218

In [69]:
data_clean = data_clean.merge(community_price_avg, how='left', on='community')

In [70]:
data_clean.head()

,title,total_price,price,period,time,community,neighbours,community_avg_price
0,汪家井西区，精装一室一厅，满五唯一，90年房龄,212.0,46522.0,未知,1990年建/板楼,汪家井小区,一梯六户,48002.333333
1,近中环 中间楼层 满五唯一 价格可谈 诚意出售,238.0,41998.0,未知,1995年建/板楼,真光九街坊,一梯四户,45536.000000
2,汪家井小区 2室1厅 225万,225.0,44205.0,未知,1987年建/板楼,汪家井小区,一梯四户,48002.333333
3,全明户型，朝南带阳台，厨卫朝北，楼层好，采光充足,280.0,69722.0,未知,1987年建/板楼,东新支路55弄,一梯九户,65802.200000
4,满五唯一，精装修，一梯三户 边套全明 价格可谈,230.0,56791.0,未知,1980年建/板楼,宜川一村,一梯三户,49876.222222